* {
  box-sizing: border-box;
}
body {
  background-image: url("../styles/img/damier.jpg");
}
.container {
  margin: 40px auto;
  padding: 50px;
  width: 60%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background: #5385d1;
  border: 8px solid white;
  border-radius: 2%;
}

img {
  display: block;
  margin: 130px auto;
  width: 250px;
  height: 80px;
}

img:hover {
  padding-left: 10px;
  padding-right: 10px;
}
